@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.colour-diffs {
  display: flex;
}

.colour-label {
  margin-right: 1.5em;
  border-radius: 10%;
  padding: 0.25em;
  margin-top: 1em;
}

.bg-red-diff {
  background-color: red;
}

.bg-orange-diff {
  background-color: orange;
}

.bg-green-diff {
  background-color: green;
}
