@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&family=Rubik+Dirt&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0010c0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d00c0;
    --foreground: #9bfc00;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2.5em;
}

h1 {
  font-family: "Rubik Dirt", Helvetica, sans-serif;
  font-size: xx-large;
  padding-bottom: 1em;
  text-decoration: underline wavy 2px;
  text-underline-offset: 0.5em;
}

.colour-diffs {
  display: flex;
}

.colour-label {
  margin-right: 1.5em;
  border-radius: 10%;
  padding: 0.25em;
  margin-top: 1em;
}

.bg-red-diff {
  background-color: red;
}

.bg-orange-diff {
  background-color: orange;
}

.bg-green-diff {
  background-color: green;
}

/* input[type=submit] {
  background-color: rgb(0, 60, 49);
  border-radius: 25%;
  padding: 0.5em;
} */
