@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&family=Rubik+Dirt&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0010c0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d00c0;
    --foreground: #9bfc00;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2.5em;
}

h1 {
  font-family: "Rubik Dirt", Helvetica, sans-serif;
  font-size: xx-large;
  padding-bottom: 1em;
  text-decoration: underline wavy 2px;
  text-underline-offset: 0.5em;
}

.colour-diffs {
  display: flex;
}

.colour-label {
  margin-right: 1.5em;
  border-radius: 10%;
  padding: 0.25em;
  margin-top: 1em;
}

.bg-red-diff {
  background-color: rgb(255, 154, 154);
  border: 1px dotted red;
  color: purple;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 0.25em 1em 0.25em 1em;
}

.bg-orange-diff {
  background-color: rgb(255, 208, 122);
  border: 1px dotted orange;
  color: purple;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 0.25em 1em 0.25em 1em;
}

.bg-green-diff {
  background-color: rgb(174, 254, 174);
  border: 1px dotted green;
  color: purple;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 0.25em 1em 0.25em 1em;
}

input[type=submit] {
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type=color] {
  margin-top: 0.5em;
}

.target-colour {
  font-weight: bold;
  font-style: italic;
}

.past-guesses {
  font-family: "Rubik Dirt", Helvetica, sans-serif;
  font-size: x-large;
  text-decoration: underline wavy 2px;
  text-underline-offset: 0.25em;
  padding-bottom: 0.5em;
}

.colour-picker {
  color: black;
  margin-top: 1em;
  margin-bottom: 0.5em;
}